.dropdown-content {
    
	min-width: 0;
	min-height: 0;
  overflow: visible !important;
  
}

.dropdown2 {
  /*adjust by your needs*/
  width: 200px !important;  
  left: 0px !important;
	margin-left: 54px !important;
    margin-top: -50px !important;
    left: 0!important;
}

#dropdown1 {
    /*adjust by your needs*/
    width: 200px !important;  
    left: 0px !important;
      margin-left: 54px !important;
      margin-top: -50px !important;
      left: 0!important;
  }
  
  #dropdown12 {
    /*adjust by your needs*/
    width: 200px !important;  
    left: 0px !important;
      margin-left: 54px !important;
      margin-top: -50px !important;
      left: 0!important;
  }

  #dropdown22 {
    /*adjust by your needs*/
    width: 200px !important;  
    left: 0px !important;
      margin-left: 54px !important;
      margin-top: -50px !important;
      left: 0!important;
  }

