.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: block;
    min-width: 150px;
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

#dropdown-username{
    padding-left: 10px;
}
#welcome{
    font-family:"Roboto"
}
.collapsible-header i{
    width: 2.6rem;
    border-radius: 71%;
    font-size: 2.4rem;
    color: #fff;
}

.title{
    font-weight: bold;
}