.collapsible-header i{
    width: 2.6rem;
    border-radius: 71%;
    font-size: 2.4rem;
    color: #fff;
}

.title{
    font-weight: bold;
}

  
.container {
    border:2px solid #42a5f5;
    padding: 15px;
    margin-top:2.3rem;
}

.resultCount{
    font-size: 1em;
    padding-bottom: 0.2em;
    background-color: #e8e6e3;
}
