h1,h2,h3,h4,h5,h6,p,span,input,option{
    font-family: 'Roboto';
  }
  
  .container {
  
    border:2px solid #42a5f5;
    padding: 15px;
    margin-top:2.3rem;
  }
  
  .dropdown_default_option{
    color: #dadada!important;
    visibility: hidden;
  }
  
  #title{
    text-transform: capitalize;
  }
  
  .error{
    color: red;
  }

  .toast{
    color: white;
    background: red;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  select {
    visibility: hidden;
    display: block;
    position: absolute;
  }
  .result-iniDate{
    color: grey;
  }