h1,h2,h3,h4,h5,h6,p,span,input,option{
    font-family: 'Roboto';
}
  
.container {
    border:2px solid #42a5f5;
    padding: 15px;
    margin-top:2.3rem;
}

.more{
    display: none;
}

#more-details, #hide-details{
    cursor: pointer;
}