<html>
  <body>
  <h2>ADD DOCUMENT</h2>
  <form action="">
  
    Document Number &nbsp<input type="text" name="DocNo" id="DocNo">&nbsp;<span id="status"></span><br>
    <input  type="submit" value="Submit">
    
  </form> 
  <br>
  
  <script src="../static/js/jQuery.js" ></script>
  
  <script>
    jQuery(document).ready(function($){
      $("#DocNo").keyup(function(){
        console.log("i am leyup")
        var docno = $("#DocNo").val();
      
        if(docno.length >= 3)   
        {    
          console.log("sending post...")
          $("#status").html('Checking availability...');
  
          $.post("/doc/avail", {DocNo:docno}, function(data, status){
               $("#status").html(data);    
          });
        }
        else if(docno.length>0) {
          $("#status").html("Minimum Length 3.");
        }
        else if(docno.length == 0){
          $("#status").html("");
        }
  
    });
  });

  </script></body></html>
