<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>


        <div class="row">

            
        </div>
        <div class="row">

            <div class=" col s2 ">
                 <div class="card-panel orange" id = root ><b>document</b><br><i>{{.Template}}</i></div>
            </div>

            <div class="col s5">

                    <div class="row">
                        <div class="col s4">
                            <a onclick="AddTextBody()" class="btn-floating btn-small waves-effect waves-light #2196f3  blue"><i class="material-icons">add</i></a>
                            <label id = "addtext">add text</label>
                        </div>
                        <div class="col s4">
                                <a class="btn-floating btn-small waves-effect waves-light #2196f3  red"><i class="material-icons">add</i></a>
                                <label>add image</label>
                        </div>
                        <div class="col s4">
                                <a class="btn-floating btn-small waves-effect waves-light #2196f3  black"><i class="material-icons">add</i></a>
                                <label>add table</label>
                        </div>
                    </div>
                    <div class="row">
                        <textarea id = "paragraph" disabled  style="resize:none;width: 500px;height:400px;background-color: gainsboro" >
                           
                        </textarea> 
                    </div>
                    <div class="row" id = "image-area">

                    </div>
                    <div class="row" id = "table-area">

                    </div>
                   
                    <div class="row">
                        <button id='save' disabled>save</button>
                        <button id='delete' disabled>delete</button>
                        <button id='submit' disabled>submit</button>
                    </div>
                    
                   
            </div>
            
            <div class="col s5">
                    <iframe width="500" height="580" src="../../view/1" frameborder="10" allowfullscreen></iframe>
            </div>

        </div>
                       
        
        <!--JavaScript at end of body for optimized loading-->
        <script src="../static/js/jQuery.min.js" ></script>
        <!-- <script src="../static/js/materialize.min.js"><script> -->
        <script type="text/javascript" >

            jQuery(document).ready(function($){
              ReloadTemplate()
            });
            function AddTextBody(){
                document.getElementById('save').disabled = false
            }
            function ReloadTemplate(){
                var r = document.getElementById('root').innerHTML
                var start = r.indexOf("<i>")+3
                var end = r.indexOf("</i>")
                s = r.slice(start,end)
               
                var app = "<ul style='list-style-type:disc'>"
                      
                if(s != "nil"){
                    var i
                    var len = s.length
                    for(i = 0 ; i < len ;i++){
                        
                        if(s[i]=='b'){
                            var temp = 0
                            i++;
                            for(i;"0123456789".indexOf(s[i]) != -1;i++){
                                temp = temp*10 + (s[i]-'0') 
                            }
                            i--
                           
                            app += "<li><a class='waves-effect waves-light btn-small' id='body"+temp.toString()+"'>body"+temp.toString()+"</a></li>"
                        }
                        if(s[i]=='i'){
                            var temp = 0
                            i++;
                            for(i;"0123456789".indexOf(s[i]) != -1;i++){
                                temp = temp*10 + (s[i]-'0') 
                            }
                            i--
                            
                            app += "<li><a class='waves-effect waves-light btn-small' id='image"+temp.toString()+"'>image"+temp.toString()+"</a></li>"
                        }
                        if(s[i]=='t'){
                            var temp = 0
                            i++;
                            for(i;"0123456789".indexOf(s[i]) != -1;i++){
                                temp = temp*10 + (s[i]-'0') 
                            }
                            i--
                            
                            app += "<li><a class='waves-effect waves-light btn-small' id='table"+temp.toString()+"'>table"+temp.toString()+"</a></li>"
                        }
                    }
                }
               
                document.getElementById('root').innerHTML = r + app +"</ul>"
            }
        </script>
    </body>
</html>
        