<!DOCTYPE html>
<html lang="en">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>Document Search</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
  
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/searchDoc.css">
    <script type="text/javascript" src="../static/js/jQuery.min.js"> </script>
    <script type="text/javascript" src="../static/js/materialize.min.js"> </script>
     
  <!-- Form Functionality -->
  <script>
      jQuery(function($){
          $('select').formSelect();
           window.$('#reset-btn').click(function(){
             window.$('#search-form').find("input").val("");
           });
           window.$('li.disabled').click(function(){
              $(this).parent('ul').sibling('input').val("");
           });
        });
      </script>
    
        <!-- Form Validation -->
        <script src="../static/js/jquery.validate.min.js"></script>
        <script>
             var remClick = function(){
                if(counter == 1) {
                    $("#rem-field-btn").remove();
                    addListners();
                }
                else if(counter == 2){
                  $("#field2").remove();
                  counter--;
                  addListners();
                }
                else if(counter == 3){
                  $("#field3").remove();
                  counter--;
                  addListners();
                }
                else if(counter == 4){
                  $("#field4").remove();
                  counter--;
                  addListners();
                }
                else if(counter == 5){
                  $("#field5").remove();
                  counter--;
                  addListners();
                }
                else if(counter == 6){
                  $("#field6").remove();
                  $("#add-field-btn").removeClass("disabled");
                  counter--;
                  addListners();
                }
                if(counter == 1) {
                    $("#rem-field-btn").remove();
                    remVisible = false;
                    addListners();
                }
            }
            var validate = function() {
                $("#search-form").validate({
                rules: {
                  criteria1: "required",
                  searchKeyword1: "required",
                  criteria2: "required",
                  searchKeyword2: "required",
                  criteria3: "required",
                  searchKeyword3: "required",
                  criteria4: "required",
                  searchKeyword4: "required",
                  criteria5: "required",
                  searchKeyword5: "required",
                  criteria6: "required",
                  searchKeyword6: "required",
                  sort: "required"
                },
                messages: {
                  criteria: {
                    required: "Please select a type",
                    
                  },
                  searchKeyword: {
                    required: "Please specify a key word",
                    
                  },
                  sort: {
                    required: "Please specify a sorting order",
                  },
                  
                },
                errorElement : 'div',
                errorPlacement: function(error, element) {
                  var placement = $(element).data('error');
                  if (placement) {
                    $(placement).append(error)
                  } else {
                    error.insertAfter(element);
                  }
                },
                submitHandler: function(form) {
                  form.submit();
                }
              });
            }
            jQuery(document).ready(function($){
              validate();
              addListners();
            });
            var counter = 1;
            var remVisible = false;
            var addListners = function() {
             $("select").change(validateFormat)
            }
          var validateFormat = function(){
            var dates = ["From Intiated Date","From Effective Date","From Expired Date","Till Intiated Date","Till Effective Date","Till Expired Date"]
            var selected = $(this).find(":selected").text();
            if($.inArray(selected,dates)!=-1){
              $(this).parent().parent().siblings(".input-field").first().children("input").first().attr("type","date");
              $(this).parent().parent().siblings(".input-field").first().children("input").first().addClass("datepicker");
            }
            else {
              $(this).parent().parent().siblings(".input-field").first().children("input").first().attr("type","text");
              $(this).parent().parent().siblings(".input-field").first().children("input").first().removeClass("datepicker");
            }
          }
            jQuery(document).ready(function($){
            $("body").on('click',"#add-field-btn",function(){
             
                counter++;
                newForm = '<div id=field'+counter+' class="row"> \
              <div class="input-field col s12 m4">\
                    <select class="criteria-select" name="criteria'+counter+'">\
                      <option class="dropdown_default_option" value="" disabled selected></option>\
                            <option value="docNumber">Document Number</option>\
                            <option value="docName">Document Name</option>\
                            <option value="docKeyword">Keyword</option>\
                            <option value="initiator">Initiator</option>\
                            <option value="creator">Creator</option>\
                            <option value="reviewer">Reviewer</option>\
                            <option value="approver">Approver</option>\
                            <option value="auth">Authorizer</option>\
                            <option value="dept">Department</option>\
                            <option value="from Init Date" title="yyyy-mm-dd">From Intiated Date</option>\
                            <option value="from Eff Date" title="yyyy-mm-dd">From Effective Date</option>\
                            <option value="from Exp Date" title="yyyy-mm-dd">From Expired Date</option>\
                            <option value="till Init Date" title="yyyy-mm-dd">Till Intiated Date</option>\
                            <option value="till Eff Date" title="yyyy-mm-dd">Till Effective Date</option>\
                            <option value="till Exp Date" title="yyyy-mm-dd">Till Expired Date</option>\
                    </select>\
                    <label>Search Type</label>\
                <span id="status"></span>\
              </div>\
              <div class="input-field col s12 m8">\
                <input id="search_key"  type="text" class="validate" name="searchKeyword'+counter+'">\
              </div>\
            </div>';
            if (counter<=5){
              $("#add-field-btn").removeClass("disabled");
                $("#add-field-container").before(newForm);
                $('select').formSelect();
                validate();
                addListners();
            }
    
            else if(counter==6) {
                $("#add-field-container").before(newForm);
                $('select').formSelect();
                validate();
                addListners();
                $("#add-field-btn").addClass("disabled");
            }
            
            if(counter >= 2 && !remVisible){
                var remHtml = '&nbsp;<a class="btn-floating btn-small waves-effect waves-light red" id="rem-field-btn" onclick="remClick()"><i class="material-icons">remove</i>Remove filter</a>';
                $("#add-field-btn").after(remHtml);
                addListners();
                remVisible = true;
            }
            else if(counter >= 3) {
              addListners();
            }
            if(counter == 1) {
                $("#rem-field-btn").remove();
                remVisible = false;
                addListners();
            }
    
        });
      });
            
        </script>
    
        <script>
            jQuery(document).ready(function($){
                var searchDate = function() {
                  var newDateFields = ""
                  $('#date-search-link').after();
                }
                
            });
        </script>
    
        <script>
          var formatDate = function() {
            $('.result-doc-dt').each(function(){
              var date = $(this).attr("data");
              $(this).html() = date;
            })
          }
        </script>
        <script>
          
        </script>


  </head>
  <body>

  <div class="container">

      <h4 class="center" id="title">Document Search</h4> <br>

    

    <div class="row">
      <form id="search-form" class="col s12" action="/doc/search" method="post">
        <div class="row">
          <div class="input-field col s12 m4">
                <select id="xq" class="criteria-select" name="criteria1" id="search_by">
                        <option class="dropdown_default_option" value="" disabled selected></option>
                        <option value="docNumber">Document Number</option>
                        <option value="docName">Document Name</option>
                        <option value="docKeyword">Keyword</option>
                        <option value="initiator">Initiator</option>
                        <option value="creator">Creator</option>
                        <option value="reviewer">Reviewer</option>
                        <option value="approver">Approver</option>
                        <option value="auth">Authorizer</option>
                        <option value="dept">Department</option>
                        <option value="from Init Date" data-tooltip="yyyy-mm-dd">From Intiated Date</option>
                        <option value="from Eff Date" data-tooltip="yyyy-mm-dd">From Effective Date</option>
                        <option value="from Exp Date" data-tooltip="yyyy-mm-dd">From Expired Date</option>
                        <option value="till Init Date" data-tooltip="yyyy-mm-dd">Till Intiated Date</option>
                        <option value="till Eff Date" data-tooltip="yyyy-mm-dd">Till Effective Date</option>
                        <option value="till Exp Date" data-tooltip="yyyy-mm-dd">Till Expired Date</option>
                </select>
                <label for="search_by">Search Criterion</label>
            <span id="status"></span>
          </div>
          <div class="input-field col s12 m8">
              
            <input id="search_key"  type="text" class="validate" name="searchKeyword1">
          </div>
        </div>

    <div id="add-field-container" class="left">
            <a class="btn-floating btn-small waves-effect waves-light green" id="add-field-btn"><i class="material-icons">add</i>Add filter</a>

    </div>
    <div class="right">
        <label for="sort_select">Sort Order</label>
        <select name="sort" id="sort_select">
          <option class="dropdown_default_option" value="default" disabled selected></option>
            <option value = "default">default</option>            
            <option value="alexical">Alphabetical Order Title</option>
            <option value="aTime">Oldest Intiated first</option>
            <option value="dApprovedTS">Newest Approved first</option>
            <option value="dCreateTS">Newest Created first</option>
            <option value="alexicalId">Alphabetical Order Number</option>
        </select>
    </div>
    
    <br><br>
    <div class="center">
          <button type="submit" class="btn tooltipped" data-position="left" data-delay="50" data-tooltip="Click here to submit your form">Submit &nbsp; <i class="material-icons">send</i></button>
          <button id="reset-btn" class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to reset your form">Reset &nbsp; <i class="material-icons">refresh</i></button>
    </div>

    </form>
    </div>
  </div>

  

{{if .Alertb}}
  <a class="btn" id="error" onclick="M.toast({html: '{{.Alertmsg}}'})" style="display: none"></a>
  <script>
     $("#error").trigger('click')
  </script>
{{end}}

{{if .Datab}}
  
  <div class="result-container container">
      <div class="results">
        
          <div class="row">

            <div class="col s12">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Results</h4></li>    
                    {{range $idx, $e := .Data}}
                         <li class="collection-item" style="list-style: none">
                            <b>{{$e.DocName}}</b> <i class="result-iniDate right"> Initiated <span class="result-doc-dt">{{$e.Idate}}</span><a href="/doc/view/{{$e.DocId}}" class="secondary-content"> &nbsp;&nbsp;&nbsp;<i class="material-icons">send</i></a></i>
                         </li>

                    {{end}}
                  </ul>
            </div>
              <script>
                  var formatDate = function() {
                      $('.result-doc-dt').each(function(){
                        var date = $(this).html();
                        var formattedDate = date.split("T")[0];
                        var fDate = formattedDate.split("-");
                        $(this).html("Initiatied on "+fDate[2]+"-"+fDate[1]+"-"+fDate[0]);
                      })
                  }
                  formatDate();
                </script>
          </div>
        </div>
  </div>
{{end}}
    

</body> 
</html>
