<!DOCTYPE html>
<html lang="en">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>Search Form</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
  
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/searchDoc.css">


  </head>
  <body>

    <div class="container">

      <h4 class="center" id="title">Search Form</h4> <br>


    <div class="row">
      <form id="search-form" class="col s12" action="/doc/search" method="post">
        <div class="row">
          <div class="input-field col s12 m4">
                <select name="criteria" id="search_by">
                        <option class="dropdown_default_option" value="" disabled selected></option>
                        <option value="O1">O1</option>
                        <option value="O2">O2</option>
                        <option value="O3">O3</option>
                </select>
                <label for="search_by">Search Type</label>
            <span id="status"></span>
          </div>
          <div class="input-field col s12 m8">
            <input id="search_key"  type="text" class="validate" name="searchkeyword">
            <label for="search_key">Search Key word</label>
          </div>
        </div>

    <div class="center">
          <button type="submit" class="btn tooltipped" data-position="left" data-delay="50" data-tooltip="Click here to submit your form">Submit</button>
          <button id="reset-btn" class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to reset your form">Reset</button>
    </div>

    </form>
    </div>
  </div>
</body>

  <script type="text/javascript" src="../static/js/jQuery.min.js"> </script>
  <script type="text/javascript" src="../static/js/materialize.min.js"> </script>
  
  <!-- Form Functionality -->
  <script>
  jQuery(function($){
      $('select').formSelect();
       window.$('#reset-btn').click(function(){
         window.$('#search-form').find("input").val("");
//         window.$('.error').remove();
       });
       window.$('li.disabled').click(function(){
          $(this).parent('ul').sibling('input').val("");
       });
      //  $('.datepicker').datepicker();
    });
  </script>

    <!-- Form Validation -->
    <script src="../static/js/jquery.validate.min.js"></script>
    <script>
        jQuery(document).ready(function($){
          $("#search-form").validate({
            rules: {
              criteria: {
                required: true,
                
              },
              searchkeyword: {
                required: true,
               
              },
              
            },
            messages: {
              criteria: {
                required: "Please select a type",
                
              },
              searchkeyword: {
                required: "Please specify a key word",
                
              },
              
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
              var placement = $(element).data('error');
              if (placement) {
                $(placement).append(error)
              } else {
                error.insertAfter(element);
              }
            },
            submitHandler: function(form) {
              form.submit();
            }
          });
        });
    </script>

</html>
